<style type="text/css">
  #banner {
    background-image: url('<%= asset_path("Banner_3.jpg") %>');
  }
  #banner h1 {
    font-size: 72px;
  }
</style>
<!-- Header -->
  <header id="header">
    <div class="col-md-10 col-md-offset-1">
      <a class="logo hidden-sm hidden-xs" href="https://ditlabs" ><%= image_tag("index/main_logo.png", style: "max-width: 100px; border-bottom-style: hidden;", class: "logo") %></a>
      <nav id="nav">
        <a href="https://ditlabs/plan">加速計畫</a>
        <a href="https://ditlabs/mentor">導師陣容</a>
        <a href="https://ditlabs/team">新創團隊</a>
        <!-- <a href="elements.html">Blog</a> -->
        <a class="logo2 img-responsive hidden-sm" href="" ><%= image_tag("index/join.png", style: "max-width: 140px; border-bottom-style: none;", class: "logo2") %></a>

      </nav>
      <!-- <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a> -->
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="navbar-header navbar-right">
            <a class="logo3 hidden-xs" href="https://ditlabs" ><%= image_tag("index/main_logo.png", style: "max-width: 100px; border-bottom-style: hidden;", class: "logo3") %></a>
              <a class="navbar-text" href="https://ditlabs/plan">加速計畫</a>
              <a class="navbar-text" href="https://ditlabs/mentor">導師陣容</a>
              <a class="navbar-text" href="https://ditlabs/team">新創團隊</a>

            <a class="logo4 img-responsive hidden-sm hidden-xs" href="" ><%= image_tag("index/join.png", style: "max-width: 140px; border-bottom-style: none;", class: "logo4") %></a>
          </div>
        </div>


      </div><!-- /.container-fluid -->
    </nav>

  </header>

<!-- Banner -->
  <section id="banner">
    <% if controller.action_name == "plan" %>
      <h1 style="font-weight: 500">加速計畫</h1>
    <% elsif controller.action_name == "procedure" %>
      <h1 style="font-weight: 500">加速計畫</h1>
    <% elsif controller.action_name == "target" %>
      <h1 style="font-weight: 500">加速計畫</h1>
    <% elsif controller.action_name == "notice" %>
      <h1 style="font-weight: 500">加速計畫</h1>
    <% elsif controller.action_name == "mentor" %>
      <h1 style="font-weight: 500">導師陣容</h1>
    <% elsif controller.action_name == "team" %>
      <h1 style="font-weight: 500">新創團隊</h1>
    <% end %>
    <div class="container-fluid">
      <a class="img-responsive center-block" href="index.html" ><%= image_tag("index/join.png", style: "max-width: 140px;") %></a>
    </div>
  </section>
  <script type="text/javascript">
    (function ($) {
      $(document).ready(function(){

      // hide .navbar first
      $(".navbar").hide();

      // fade in .navbar
      $(function () {
        $(window).scroll(function () {
                // set distance user needs to scroll before we fadeIn navbar
          if ($(this).scrollTop() > 40) {
            $('.navbar').fadeIn();
          } else {
            $('.navbar').fadeOut();
          }
        });


      });

    });
      }(jQuery));
  </script>