<style type="text/css">
	/*xs*/
	.carousel-indicators li {
	  background-color: #fff;
	}
	.carousel-indicators .active {
	  background-color: #3F9FB2;
	}
	/*sm*/
	@media screen and (min-width:768px){
	  .carousel-indicators li {
	      display: inline-block;
	      width: 16px;
	      height: 16px;
	      margin: 10px;
	      text-indent: 0;
	      cursor: pointer;
	      border: none;
	      border-radius: 50%;
	      background-color: #fff;
	  }
	  .carousel-indicators .active {
	      width: 16px;
	      height: 16px;
	      margin: 10px;
	      background-color: #3F9FB2;
	  }
	}
	/*md*/
	@media screen and (min-width:992px){
		.carousel-caption {
			padding-bottom: 200px;
		}
	}

</style>

<!-- One -->
<section id="one" class="wrapper hidden-xs">
	<div class="inner containter-fluid">
		<div class="row">
			<div class="header col-xs-10 col-xs-offset-1">
				<h2>我們提供實質資源，加速你的成長</h2>
			</div>
			<div class="col-xs-12 number">
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
						<p>130 萬</p>
						<h2>種子投資</h2>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
						<p>12 週</p>
						<h2>集訓活動</h2>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
						<p>40 名</p>
						<h2>產業導師</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper2">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<a href="index.html" ><%= image_tag("index/more.png", class: "img-responsive center-block") %></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- xs -->
<section id="one" class="wrapper hidden-sm hidden-md hidden-lg" style="background-image: none; background-color: #EBF4F9;">
	<div class="inner containter-fluid">
		<div class="row">
			<div class="header col-xs-10 col-xs-offset-1">
				<h2>我們提供實質資源，加速你的成長</h2>
			</div>
			<div class="col-xs-12 number">
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
						<p>130 萬</p>
						<h2>種子投資</h2>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
						<p>12 週</p>
						<h2>集訓活動</h2>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
						<p>40 名</p>
						<h2>產業導師</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper2">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<a href="index.html" ><%= image_tag("index/more.png", class: "img-responsive center-block") %></a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Two -->
	<section id="two" class="wrapper">
		<div class="inner containter-fluid">
			<div class="row">
				<div class="header col-xs-12">
					<p>六大企業資源</p>
				</div>
				<div class=" description col-xs-12">
					<h2>三年來，創夢市集聯手六大股東，致力於打造台灣最大的娛樂科技創業平台。</h2>
					<h2>加入創夢實驗室，帶你直通技術支援、產品營運、與金融服務等豐富資源。</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="hidden-xs col-sm-4">
					<div class="item">
						<%= image_tag("shareholder/網銀.png", class: "img-responsive center-block") %>
					</div>
				</div>
				<div class="hidden-xs col-sm-4">
					<div class="item">
						<%= image_tag("shareholder/橘子.png", class: "img-responsive center-block") %>
					</div>
				</div>
				<div class="hidden-xs col-sm-4">
					<div class="item">
						<%= image_tag("shareholder/樂陞.png", class: "img-responsive center-block") %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="hidden-xs col-sm-4">
					<div class="item">
						<%= image_tag("shareholder/華義.png", class: "img-responsive center-block center-small") %>
					</div>
				</div>
				<div class="hidden-xs col-sm-4">
					<div class="item">
						<%= image_tag("shareholder/昱泉.png", class: "img-responsive center-block") %>
					</div>
				</div>
				<div class="hidden-xs col-sm-4">
					<div class="item">
						<%= image_tag("shareholder/新光金.png", class: "img-responsive center-block center-big") %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
					<div class="col-xs-6">
						<div class="item">
							<%= image_tag("shareholder/網銀.png", class: "img-responsive center-block") %>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="item">
							<%= image_tag("shareholder/橘子.png", class: "img-responsive center-block") %>
						</div>
					</div>
				</div>
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
					<div class="col-xs-6">
						<div class="item3">
							<%= image_tag("shareholder/樂陞.png", class: "img-responsive center-block") %>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="item">
							<%= image_tag("shareholder/華義.png", class: "img-responsive center-block center-small") %>
						</div>
					</div>
				</div>
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
					<div class="col-xs-6">
						<div class="item5">
							<%= image_tag("shareholder/昱泉.png", class: "img-responsive center-block") %>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="item">
							<%= image_tag("shareholder/新光金.png", class: "img-responsive center-block center-big") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- Three -->
<section id="three">
	<div id="carousel-id" class="carousel slide" data-ride="carousel">
	    <!-- 幻燈片小圓點區 -->
	    <ol class="carousel-indicators">
	        <li data-target="#carousel-id" data-slide-to="0" class=""></li>
	        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
	        <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
	    </ol>
	    <!-- 幻燈片主圖區 -->
	    <div class="carousel-inner">
	        <div class="item">
	            <%= image_tag("index/sick3.jpg", class: "first-slide") %>
	            <div class="col-xs-8 col-xs-offset-4">
	            	<div class="container">
	            	    <div class="carousel-caption">
	            	        <h3 class="visible-xs" style="color: black; font-size: 20px;">第一梯次亮點團隊</h3>
	            	        <h1 class="hidden-xs" style="color: black;">第一梯次亮點團隊</h1>
	            	        <h1 class="hidden-xs hidden-sm" style="color: black;">有病製作</h1>
	            	        <p class="hidden-xs" style="color: black;">你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？</p>
	            	    </div>
	            	</div>
	            </div>
	        </div>
	        <div class="item">
	            <%= image_tag("index/island3.jpg", class: "second-slide") %>
	            <div class="col-xs-8 col-xs-offset-4">
	            	<div class="container">
	            	    <div class="carousel-caption">
	            	        <h3 class="visible-xs" style="color: black; font-size: 20px;">第一梯次亮點團隊</h3>
	            	        <h1 class="hidden-xs" style="color: black;">第一梯次亮點團隊</h1>
	            	        <h1 class="hidden-xs hidden-sm" style="color: black;">小島動畫</h1>
	            	        <p class="hidden-xs" style="color: black;">你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？</p>
	            	    </div>
	            	</div>
	            </div>
	        </div>
	        <div class="item active">
	            <%= image_tag("index/work3.jpg", class: "third-slide") %>
	            <div class="col-xs-8 col-xs-offset-4">
	            	<div class="container">
	            	    <div class="carousel-caption">
	            	        <h3 class="visible-xs" style="color: black; font-size: 20px;">第一梯次亮點團隊</h3>
	            	        <h1 class="hidden-xs" style="color: black;">第一梯次亮點團隊</h1>
	            	        <h1 class="hidden-xs hidden-sm" style="color: black;">上班不要看</h1>
	            	        <p class="hidden-xs" style="color: black;">你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？你喝過了嗎？</p>
	            	    </div>
	            	</div>
	            </div>
	        </div>
	    </div>
	    <!-- 上下頁控制區 -->
	    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</section>

<!-- Four -->
	<section id="four" class="wrapper">
		<div class="inner">
			<div class="header">
				<p>導師陣容</p>
				<h2>比起量，我們更重視質，每一位導師都是娛樂科技與創新創業的佼佼者
				</h2>
			</div>
			<div class="hidden-xs container-fluid">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/劉德成-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/簡志浩-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/羅志達-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/林家齊-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/曾煒傑-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="pic">
								<a class="img-responsive center-block" href="https://jerrynil.tw/mentor" ><%= image_tag("mentor/more.png", class: "img-responsive center-block")%></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- xs -->
			<div class="container-fluid hidden-sm hidden-md hidden-lg">
				<div class="row">
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/劉德成-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/簡志浩-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/羅志達-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/林家齊-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/曾煒傑-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="pic">
							<a class="img-responsive center-block" href="https://jerrynil.tw/mentor" ><%= image_tag("mentor/more.png", class: "img-responsive center-block")%></a>
						</div>
					</div>
				</div>
		  </div>
		</div>
	</section>

	<!-- Five -->
		<section id="five" class="wrapper">
			<div class="inner containter-fluid">
				<div class="row">
					<div class="title col-xs-12">
						<p>我們正在找尋以下投資標的</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="hidden-xs col-sm-4">
						<div class="thumbnail">
							<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
								<h2>全新娛樂體驗</h2>
							</div>
							<div class="description col-sm-10 col-sm-offset-1">
								<h4>你是否正在打造虛擬或實體的全新互動娛樂內容或體驗？</h4>
							</div>
						</div>
					</div>
					<div class="hidden-xs col-sm-4">
						<div class="thumbnail">
							<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
								<h2>內容產製技術</h2>
							</div>
							<div class="description col-sm-10 col-sm-offset-1">
								<h4>你是否正在研發改進娛樂產業製程的先進技術？</h4>
							</div>
						</div>
					</div>
					<div class="hidden-xs col-sm-4">
						<div class="thumbnail">
							<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
								<h2>娛樂 X 教育</h2>
							</div>
							<div class="description col-sm-10 col-sm-offset-1">
								<h4>你是否正在開發橫跨教育與娛樂的創新商品或服務？</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="hidden-xs col-sm-4">
						<div class="thumbnail">
							<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
								<h2>娛樂創新服務</h2>
							</div>
							<div class="description col-sm-10 col-sm-offset-1">
								<h4>你是否正在創造新型態的娛樂服務，替用戶帶來更多價值？</h4>
							</div>
						</div>
					</div>
					<div class="hidden-xs col-sm-4">
						<div class="thumbnail">
							<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
								<h2>資料科學應用</h2>
							</div>
							<div class="description col-sm-10 col-sm-offset-1">
								<h4>你是否具備掌握、分析與自動化學習用戶行為的創新技術？</h4>
							</div>
						</div>
					</div>
					<div class="hidden-xs col-sm-4">
						<div class="thumbnail">
							<div class="convince col-sm-8 col-sm-offset-2">
								<h2 style="border-bottom: none;">以上皆非？</h2>
								<h2 style="border-bottom: none;">歡迎報名並說服我們</h2>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- xs -->
			<div class="container-fluid">
				<div class="row">
					<div class="hidden-sm hidden-md hidden-lg col-xs-6">
						<div class="header col-xs-12">
							<h2>全新娛樂體驗</h2>
						</div>
						<div class="description col-xs-12">
							<h4>你是否正在打造虛擬或實體的全新互動娛樂內容或體驗？</h4>
						</div>
					</div>
					<div class="hidden-sm hidden-md hidden-lg col-xs-6">
						<div class="header col-xs-12">
							<h2>內容產製技術</h2>
						</div>
						<div class="description col-xs-12">
							<h4>你是否正在研發改進娛樂產業製程的先進技術？</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="hidden-sm hidden-md hidden-lg col-xs-6">
						<div class="header col-xs-12">
							<h2>娛樂 X 教育</h2>
						</div>
						<div class="description col-xs-12">
							<h4>你是否正在開發橫跨教育與娛樂的創新商品或服務？</h4>
						</div>
					</div>
					<div class="hidden-sm hidden-md hidden-lg col-xs-6">
						<div class="header col-xs-12">
							<h2>娛樂創新服務</h2>
						</div>
						<div class="description col-xs-12">
							<h4>你是否正在創造新型態的娛樂服務，替用戶帶來更多價值？</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="hidden-sm hidden-md hidden-lg col-xs-6">
						<div class="header col-xs-12">
							<h2>資料科學應用</h2>
						</div>
						<div class="description col-xs-12">
							<h4>你是否具備掌握、分析與自動化學習用戶行為的創新技術？</h4>
						</div>
					</div>
					<div class="hidden-sm hidden-md hidden-lg col-xs-6">
						<div class="convince">
							<h2 style="border-bottom: none;">以上皆非？</h2>
  						<h2 style="border-bottom: none;">歡迎前來挑戰</h2>
						</div>
					</div>
				</div>
			</div>
		</section>



