			<!-- One -->
				<section id="one" class="wrapper hidden-xs">
					<div class="inner containter-fluid">
						<div class="row">
							<div class="header col-xs-10 col-xs-offset-1">
								<h2>我們提供實質資源，加速你的成長</h2>
							</div>
							<div class="col-xs-12 number">
								<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
									<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
										<p>130 萬</p>
										<h2>種子投資</h2>
									</div>
								</div>
								<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
									<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
										<p>12 週</p>
										<h2>集訓活動</h2>
									</div>
								</div>
								<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
									<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
										<p>40 名</p>
										<h2>產業導師</h2>
									</div>
								</div>
							</div>
						</div>
						<div class="wrapper2">
							<div class="row">
								<div class="col-xs-10 col-xs-offset-1">
									<a href="index.html" ><%= image_tag("index/more.png", class: "img-responsive center-block") %></a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- xs -->
				<section id="one" class="wrapper hidden-sm hidden-md hidden-lg" style="background-image: none; background-color: #EBF4F9;">
					<div class="inner containter-fluid">
						<div class="row">
							<div class="header col-xs-10 col-xs-offset-1">
								<h2>我們提供實質資源，加速你的成長</h2>
							</div>
							<div class="col-xs-12 number">
								<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
									<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
										<p>130 萬</p>
										<h2>種子投資</h2>
									</div>
								</div>
								<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
									<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
										<p>12 週</p>
										<h2>集訓活動</h2>
									</div>
								</div>
								<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
									<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
										<p>40 名</p>
										<h2>產業導師</h2>
									</div>
								</div>
							</div>
						</div>
						<div class="wrapper2">
							<div class="row">
								<div class="col-xs-10 col-xs-offset-1">
									<a href="index.html" ><%= image_tag("index/more.png", class: "img-responsive center-block") %></a>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- Two -->
					<section id="two" class="wrapper">
						<div class="inner containter-fluid">
							<div class="row">
								<div class="header col-xs-12">
									<p>六大企業資源</p>
								</div>
								<div class=" description col-xs-12">
									<h2>三年來，創夢市集聯手六大股東，致力於打造台灣最大的娛樂科技創業平台。</h2>
									<h2>加入創夢實驗室，帶你直通技術支援、產品營運、與金融服務等豐富資源。</h2>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="hidden-xs col-sm-4">
									<div class="item">
										<%= image_tag("shareholder/網銀.png", class: "img-responsive center-block") %>
									</div>
								</div>
								<div class="hidden-xs col-sm-4">
									<div class="item">
										<%= image_tag("shareholder/橘子.png", class: "img-responsive center-block") %>
									</div>
								</div>
								<div class="hidden-xs col-sm-4">
									<div class="item">
										<%= image_tag("shareholder/樂陞.png", class: "img-responsive center-block") %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="hidden-xs col-sm-4">
									<div class="item">
										<%= image_tag("shareholder/華義.png", class: "img-responsive center-block center-small") %>
									</div>
								</div>
								<div class="hidden-xs col-sm-4">
									<div class="item">
										<%= image_tag("shareholder/昱泉.png", class: "img-responsive center-block") %>
									</div>
								</div>
								<div class="hidden-xs col-sm-4">
									<div class="item">
										<%= image_tag("shareholder/新光金.png", class: "img-responsive center-block center-big") %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
									<div class="col-xs-6">
										<div class="item">
											<%= image_tag("shareholder/網銀.png", class: "img-responsive center-block") %>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="item">
											<%= image_tag("shareholder/橘子.png", class: "img-responsive center-block") %>
										</div>
									</div>
								</div>
								<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
									<div class="col-xs-6">
										<div class="item3">
											<%= image_tag("shareholder/樂陞.png", class: "img-responsive center-block") %>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="item">
											<%= image_tag("shareholder/華義.png", class: "img-responsive center-block center-small") %>
										</div>
									</div>
								</div>
								<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
									<div class="col-xs-6">
										<div class="item5">
											<%= image_tag("shareholder/昱泉.png", class: "img-responsive center-block") %>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="item">
											<%= image_tag("shareholder/新光金.png", class: "img-responsive center-block center-big") %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
			<!-- Three -->
				<section id="three">

						<!-- Carousel
						================================================== -->
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						    <li data-target="#myCarousel" data-slide-to="1"></li>
						    <li data-target="#myCarousel" data-slide-to="2"></li>
						  </ol>
						  <div class="col-xs-12" style="background-color: #E8F2F8;">
						  	<h1 style="text-align: center;">第一梯次亮點團隊</h1>
						  </div>
						  <div class="carousel-inner" role="listbox">
						    <div class="item active">
						      <%= image_tag("index/sick3.jpg", class: "first-slide") %>
						      <div class="container-fluid">
						        <div class="col-md-8 col-md-offset-4">
						        	<div class="carousel-caption">
						        	  <h1>有病製作</h1>
						        	  <p class="hidden-xs">我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得</p>
						        	  <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">團隊專訪</a></p> -->
						        	</div>
						        </div>
						      </div>
						    </div>
						    <div class="item">
						      <%= image_tag("index/island3.jpg", class: "second-slide") %>
						      <div class="container-fluid">
						        <div class="col-md-8 col-md-offset-4">
						        	<div class="carousel-caption">
						        	  <h1>小島動畫</h1>
						        	  <p class="hidden-xs">我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得</p>
						        	  <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">團隊專訪</a></p> -->
						        	</div>
						        </div>
						      </div>
						    </div>
						    <div class="item">
						      <%= image_tag("index/work3.jpg", class: "third-slide") %>
						      <div class="container-fluid">
						        <div class="col-md-8 col-md-offset-4">
						        	<div class="carousel-caption">
						        	  <h1>上班不要看</h1>
						        	  <p class="hidden-xs">我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得</p>
						        	  <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">團隊專訪</a></p> -->
						        	</div>
						        </div>
						      </div>
						    </div>
						  </div>
						  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div><!-- /.carousel -->

				</section>

				<!-- Four -->
					<section id="four" class="wrapper">
						<div class="inner">
							<div class="header">
								<p>導師陣容</p>
								<h2>比起量，我們更重視質，每一位導師都是娛樂科技與創新創業的佼佼者
								</h2>
							</div>
							<div class="hidden-xs container-fluid">
								<div class="col-xs-12">
									<div class="row">
										<div class="col-sm-3">
											<div class="pic">
												<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="pic">
												<%= image_tag("mentor/吳菊-01.jpg", class: "img-responsive center-block")%>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="pic">
												<%= image_tag("mentor/巫秀陽-01.jpg", class: "img-responsive center-block")%>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="pic">
												<%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-3">
											<div class="pic">
												<%= image_tag("mentor/姜漢儀-01.jpg", class: "img-responsive center-block")%>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="pic">
												<%= image_tag("mentor/馬梓菲-01.jpg", class: "img-responsive center-block")%>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="pic">
												<%= image_tag("mentor/張鳳珠-01.jpg", class: "img-responsive center-block")%>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="pic">
												<a class="img-responsive center-block" href="index.html" ><%= image_tag("mentor/more.png", class: "img-responsive center-block")%></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- xs -->
							<div class="container-fluid hidden-sm hidden-md hidden-lg">
								<div class="row">
									<div class="col-xs-6">
										<div class="pic">
											<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="pic">
											<%= image_tag("mentor/吳菊-01.jpg", class: "img-responsive center-block")%>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<div class="pic">
											<%= image_tag("mentor/巫秀陽-01.jpg", class: "img-responsive center-block")%>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="pic">
											<%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<div class="pic">
											<%= image_tag("mentor/姜漢儀-01.jpg", class: "img-responsive center-block")%>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="pic">
											<%= image_tag("mentor/馬梓菲-01.jpg", class: "img-responsive center-block")%>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<div class="pic">
											<%= image_tag("mentor/張鳳珠-01.jpg", class: "img-responsive center-block")%>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="pic">
											<a class="img-responsive center-block" href="index.html" ><%= image_tag("mentor/more.png", class: "img-responsive center-block")%></a>
										</div>
									</div>
								</div>
						  </div>
						</div>
					</section>

					<!-- Five -->
						<section id="five" class="wrapper">
							<div class="inner containter-fluid">
								<div class="row">
									<div class="title col-xs-12">
										<p>我們正在找尋以下投資標的</p>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="row">
									<div class="hidden-xs col-sm-4">
										<div class="thumbnail">
											<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
												<h2>全新娛樂體驗</h2>
											</div>
											<div class="description col-sm-10 col-sm-offset-1">
												<h4>你是否正在打造虛擬或實體的全新互動娛樂內容或體驗？</h4>
											</div>
										</div>
									</div>
									<div class="hidden-xs col-sm-4">
										<div class="thumbnail">
											<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
												<h2>內容產製技術</h2>
											</div>
											<div class="description col-sm-10 col-sm-offset-1">
												<h4>你是否正在研發改進娛樂產業製程的先進技術？</h4>
											</div>
										</div>
									</div>
									<div class="hidden-xs col-sm-4">
										<div class="thumbnail">
											<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
												<h2>娛樂 X 教育</h2>
											</div>
											<div class="description col-sm-10 col-sm-offset-1">
												<h4>你是否正在開發橫跨教育與娛樂的創新商品或服務？</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="hidden-xs col-sm-4">
										<div class="thumbnail">
											<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
												<h2>娛樂創新服務</h2>
											</div>
											<div class="description col-sm-10 col-sm-offset-1">
												<h4>你是否正在創造新型態的娛樂服務，替用戶帶來更多價值？</h4>
											</div>
										</div>
									</div>
									<div class="hidden-xs col-sm-4">
										<div class="thumbnail">
											<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
												<h2>資料科學應用</h2>
											</div>
											<div class="description col-sm-10 col-sm-offset-1">
												<h4>你是否具備掌握、分析與自動化學習用戶行為的創新技術？</h4>
											</div>
										</div>
									</div>
									<div class="hidden-xs col-sm-4">
										<div class="thumbnail">
											<div class="convince col-sm-8 col-sm-offset-2">
												<h2 style="border-bottom: none;">以上皆非？</h2>
												<h2 style="border-bottom: none;">歡迎報名並說服我們</h2>
											</div>
										</div>
									</div>
								</div>
							</div>


							<!-- xs -->
							<div class="container-fluid">
								<div class="row">
									<div class="hidden-sm hidden-md hidden-lg col-xs-6">
										<div class="header col-xs-12">
											<h2>全新娛樂體驗</h2>
										</div>
										<div class="description col-xs-12">
											<h4>你是否正在打造虛擬或實體的全新互動娛樂內容或體驗？</h4>
										</div>
									</div>
									<div class="hidden-sm hidden-md hidden-lg col-xs-6">
										<div class="header col-xs-12">
											<h2>內容產製技術</h2>
										</div>
										<div class="description col-xs-12">
											<h4>你是否正在研發改進娛樂產業製程的先進技術？</h4>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="hidden-sm hidden-md hidden-lg col-xs-6">
										<div class="header col-xs-12">
											<h2>娛樂 X 教育</h2>
										</div>
										<div class="description col-xs-12">
											<h4>你是否正在開發橫跨教育與娛樂的創新商品或服務？</h4>
										</div>
									</div>
									<div class="hidden-sm hidden-md hidden-lg col-xs-6">
										<div class="header col-xs-12">
											<h2>娛樂創新服務</h2>
										</div>
										<div class="description col-xs-12">
											<h4>你是否正在創造新型態的娛樂服務，替用戶帶來更多價值？</h4>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="hidden-sm hidden-md hidden-lg col-xs-6">
										<div class="header col-xs-12">
											<h2>資料科學應用</h2>
										</div>
										<div class="description col-xs-12">
											<h4>你是否具備掌握、分析與自動化學習用戶行為的創新技術？</h4>
										</div>
									</div>
									<div class="hidden-sm hidden-md hidden-lg col-xs-6">
										<div class="convince">
											<h2 style="border-bottom: none;">以上皆非？</h2>
          						<h2 style="border-bottom: none;">歡迎前來挑戰</h2>
										</div>
									</div>
								</div>
							</div>
						</section>



