			<!-- One -->
				<section id="one" class="wrapper">
					<div class="inner containter-fluid">
							<div class="row">
								<div class="header col-xs-12">
									<p>130 萬元的前種子投資</p>
								</div>
								<div class=" description col-xs-12">
									<h2>我們的使命是提供娛樂科技領域的創業者養分，使其加速成長並成為頂尖的團隊。</h2>
									<h2>我們一年招募兩梯次，每梯次入選 6 隊並進行為期 12 週的加速計畫。</h2>
									<h2>我們將預先投資所有入選團隊 30 萬元，並在梯次結束後根據評估追加 100 萬元。</h2>
								</div>
							</div>

					</div>
				</section>

				<!-- Two -->
					<section id="two" class="wrapper">
						<div class="inner containter-fluid">
							<div class="row">
								<div class="header col-xs-12">
									<p>六大企業資源</p>
								</div>
								<div class=" description col-xs-12">
									<h2>三年來，創夢市集聯手六大股東，致力於打造台灣最大的娛樂科技創業平台。</h2>
									<h2>加入創夢實驗室，帶你直通技術支援、產品營運、與金融服務等豐富資源。</h2>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="hidden-xs col-sm-4">
									<div class="item">
										<%= image_tag("shareholder/網銀.png", class: "img-responsive center-block") %>
									</div>
								</div>
								<div class="hidden-xs col-sm-4">
									<div class="item">
										<%= image_tag("shareholder/橘子.png", class: "img-responsive center-block") %>
									</div>
								</div>
								<div class="hidden-xs col-sm-4">
									<div class="item">
										<%= image_tag("shareholder/樂陞.png", class: "img-responsive center-block") %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="hidden-xs col-sm-4">
									<div class="item">
										<%= image_tag("shareholder/華義.png", class: "img-responsive center-block center-small") %>
									</div>
								</div>
								<div class="hidden-xs col-sm-4">
									<div class="item">
										<%= image_tag("shareholder/昱泉.png", class: "img-responsive center-block") %>
									</div>
								</div>
								<div class="hidden-xs col-sm-4">
									<div class="item">
										<%= image_tag("shareholder/新光金.png", class: "img-responsive center-block center-big") %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
									<div class="col-xs-6">
										<div class="item">
											<%= image_tag("shareholder/網銀.png", class: "img-responsive center-block") %>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="item">
											<%= image_tag("shareholder/橘子.png", class: "img-responsive center-block") %>
										</div>
									</div>
								</div>
								<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
									<div class="col-xs-6">
										<div class="item">
											<%= image_tag("shareholder/樂陞.png", class: "img-responsive center-block") %>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="item">
											<%= image_tag("shareholder/華義.png", class: "img-responsive center-block center-small") %>
										</div>
									</div>
								</div>
								<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
									<div class="col-xs-6">
										<div class="item">
											<%= image_tag("shareholder/昱泉.png", class: "img-responsive center-block") %>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="item">
											<%= image_tag("shareholder/新光金.png", class: "img-responsive center-block center-big") %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
			<!-- Three -->
				<section id="three">

						<!-- Carousel
						================================================== -->
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						    <li data-target="#myCarousel" data-slide-to="1"></li>
						    <li data-target="#myCarousel" data-slide-to="2"></li>
						  </ol>
						  <div class="carousel-inner" role="listbox">
						    <div class="item active">
						      <%= image_tag("index/team1.png", class: "first-slide") %>

						      <div class="container">
						        <div class="carousel-caption">
						          <h1>有病製作</h1>
						          <p>我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得</p>
						          <p><a class="btn btn-lg btn-primary" href="#" role="button">團隊專訪</a></p>
						        </div>
						      </div>
						    </div>
						    <div class="item">
						      <%= image_tag("index/team1.png", class: "second-slide") %>
						      <div class="container">
						        <div class="carousel-caption">
						          <h1>有病製作</h1>
						          <p>我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得</p>
						          <p><a class="btn btn-lg btn-primary" href="#" role="button">團隊專訪</a></p>
						        </div>
						      </div>
						    </div>
						    <div class="item">
						      <%= image_tag("index/team1.png", class: "third-slide") %>
						      <div class="container">
						        <div class="carousel-caption">
						          <h1>有病製作</h1>
						          <p>我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得我覺得</p>
						          <p><a class="btn btn-lg btn-primary" href="#" role="button">團隊專訪</a></p>
						        </div>
						      </div>
						    </div>
						  </div>
						  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div><!-- /.carousel -->

				</section>

				<!-- Four -->
					<section id="four" class="wrapper">
						<div class="inner">
							<header>
								<p>導師陣容</p>
								<h2>比起量，我們更重視質，每一位導師都是娛樂科技與創新創業的佼佼者</p
								h2>
							</header>

						</div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-sm-2 col-sm-offset-1">
									<div class="pic">
										<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
									</div>
								</div>
								<div class="col-xs-12 col-sm-2">
									<div class="pic">
										<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
									</div>
								</div>
								<div class="col-xs-12 col-sm-2">
									<div class="pic">
										<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
									</div>
								</div>
								<div class="col-xs-12 col-sm-2">
									<div class="pic">
										<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
									</div>
								</div>
								<div class="col-xs-12 col-sm-2">
									<div class="pic">
										<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-2 col-sm-offset-1">
									<div class="pic">
										<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
									</div>
								</div>
								<div class="col-xs-12 col-sm-2">
									<div class="pic">
										<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
									</div>
								</div>
								<div class="col-xs-12 col-sm-2">
									<div class="pic">
										<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
									</div>
								</div>
								<div class="col-xs-12 col-sm-2">
									<div class="pic">
										<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
									</div>
								</div>
								<div class="col-xs-12 col-sm-2">
									<div class="pic">
										<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
									</div>
								</div>
							</div>
						</div>
					</section>



