<style type="text/css">
	/*xs*/
	.carousel-indicators li {
	  background-color: #fff;
	}
	.carousel-indicators .active {
	  background-color: #3F9FB2;
	}
	/*sm*/
	@media screen and (min-width:768px){
	  .carousel-indicators li {
	      display: inline-block;
	      width: 16px;
	      height: 16px;
	      margin: 10px;
	      text-indent: 0;
	      cursor: pointer;
	      border: none;
	      border-radius: 50%;
	      background-color: #fff;
	  }
	  .carousel-indicators .active {
	      width: 16px;
	      height: 16px;
	      margin: 10px;
	      background-color: #3F9FB2;
	  }
	}
	/*md*/
	@media screen and (min-width:992px){
		.carousel-caption {
			padding-bottom: 200px;
		}
	}

</style>

<!-- One -->
<section id="one" class="wrapper hidden-xs">
	<div class="inner containter-fluid">
		<div class="row">
			<div class="header col-xs-10 col-xs-offset-1">
				<h2>我們提供實質資源，加速你的成長</h2>
			</div>
			<div class="col-xs-12 number">
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
						<p>130 萬</p>
						<h2>種子投資</h2>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
						<p>12 週</p>
						<h2>集訓活動</h2>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
						<p>40 名</p>
						<h2>產業導師</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper2">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<a href="index.html" ><%= image_tag("index/more2.png", class: "img-responsive center-block") %></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- xs -->
<section id="one" class="wrapper hidden-sm hidden-md hidden-lg" style="background-image: none; background-color: #EBF4F9;">
	<div class="inner containter-fluid">
		<div class="row">
			<div class="header col-xs-10 col-xs-offset-1">
				<h2>我們提供實質資源，加速你的成長</h2>
			</div>
			<div class="col-xs-12 number">
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
						<p>130 萬</p>
						<h2>種子投資</h2>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
						<p>12 週</p>
						<h2>集訓活動</h2>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
					<div class="thumbnail" style="background-color: rgba(0,0,0,0); border-style: none;">
						<p>40 名</p>
						<h2>產業導師</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper2">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<a href="index.html" ><%= image_tag("index/more2.png", class: "img-responsive center-block") %></a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Two -->
	<section id="two" class="wrapper">
		<div class="inner containter-fluid">
			<div class="row">
				<div class="header col-xs-12">
					<p>六大企業資源</p>
				</div>
				<div class=" description col-xs-12">
					<h2>三年來，創夢市集聯手六大股東，致力於打造台灣最大的娛樂科技創業平台。</h2>
					<h2>加入創夢實驗室，帶你直通技術支援、產品營運、與金融服務等豐富資源。</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="hidden-xs col-sm-4">
					<div class="item">
						<%= image_tag("shareholder/網銀.png", class: "img-responsive center-block") %>
					</div>
				</div>
				<div class="hidden-xs col-sm-4">
					<div class="item">
						<%= image_tag("shareholder/橘子.png", class: "img-responsive center-block") %>
					</div>
				</div>
				<div class="hidden-xs col-sm-4">
					<div class="item">
						<%= image_tag("shareholder/樂陞.png", class: "img-responsive center-block") %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="hidden-xs col-sm-4">
					<div class="item">
						<%= image_tag("shareholder/華義.png", class: "img-responsive center-block center-small") %>
					</div>
				</div>
				<div class="hidden-xs col-sm-4">
					<div class="item">
						<%= image_tag("shareholder/昱泉.png", class: "img-responsive center-block") %>
					</div>
				</div>
				<div class="hidden-xs col-sm-4">
					<div class="item">
						<%= image_tag("shareholder/新光金.png", class: "img-responsive center-block center-big") %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
					<div class="col-xs-6">
						<div class="item">
							<%= image_tag("shareholder/網銀.png", class: "img-responsive center-block") %>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="item">
							<%= image_tag("shareholder/橘子.png", class: "img-responsive center-block") %>
						</div>
					</div>
				</div>
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
					<div class="col-xs-6">
						<div class="item3">
							<%= image_tag("shareholder/樂陞.png", class: "img-responsive center-block") %>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="item">
							<%= image_tag("shareholder/華義.png", class: "img-responsive center-block center-small") %>
						</div>
					</div>
				</div>
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
					<div class="col-xs-6">
						<div class="item5">
							<%= image_tag("shareholder/昱泉.png", class: "img-responsive center-block") %>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="item">
							<%= image_tag("shareholder/新光金.png", class: "img-responsive center-block center-big") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- Three -->
<section id="carousel">
	<div class="container">
		<div class="row">
	    <div class="col-md-12" data-wow-delay="0.2s">
	      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
	        <!-- Bottom Carousel Indicators -->
	        <ol class="carousel-indicators">
	          <li data-target="#quote-carousel" data-slide-to="0" class="active"><%= image_tag("index/sick.png", class: "img-responsive") %>
	          </li>
	          <li data-target="#quote-carousel" data-slide-to="1"><%= image_tag("index/work.png", class: "img-responsive") %>
	          </li>
	          <li data-target="#quote-carousel" data-slide-to="2"><%= image_tag("index/island.png", class: "img-responsive") %>
	          </li>
	        </ol>

	        <!-- Carousel Slides / Quotes -->
	        <div class="carousel-inner text-center">

	          <!-- Quote 1 -->
	          <div class="item active">
	            <blockquote>
	              <div class="row">
	                <div class="col-sm-8 col-sm-offset-2">
	                  <p> 如果說，創業就像在汪洋中尋找寶藏，那在我加入創夢實驗室之前，我只是一位望洋興嘆的路人。這些日子來，創夢沒有給我船的鑰匙，但給了我打造這艘船的工具，它們沒有告訴我寶藏在哪，但我得到了許多智慧與知識。</p>
	                  <h2>──劉子勤 (哈利菠菜)，有病製作創辦人</h2>
	                </div>
	              </div>
	            </blockquote>
	          </div>
	          <!-- Quote 2 -->
	          <div class="item">
	            <blockquote>
	              <div class="row">
	                <div class="col-sm-8 col-sm-offset-2">
	                  <p> 雖然地點很遠，但是熱情很近，創夢市集的團隊不斷地帶著所有成員一起闖關，體驗難以取代。如果你剛剛踏進新創的門前，多多和創夢市集的團隊交流，參與活動，夥伴與導師都會給你更多的力量。</p>
	                  <h2>──邱威傑 (呱吉)，陸伍伍參伍創辦人</h2>
	                </div>
	              </div>
	            </blockquote>
	          </div>
	          <!-- Quote 3 -->
	          <div class="item">
	            <blockquote>
	              <div class="row">
	                <div class="col-sm-8 col-sm-offset-2">
	                  <p> 做創作的人往往過於理想，所以容易忽略策略、財務、分析等與創業至關重要的事。感謝創夢市集提供我們很多在創業初期無法接觸到的資源，也給予我們很多寶貴的建議。</p>
	                  <h2>──林運辰 (鋼絲)，小島動畫創辦人</h2>
	                </div>
	              </div>
	            </blockquote>
	          </div>
	        </div>

	        <!-- Carousel Buttons Next/Prev -->
	        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
	        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
	      </div>
	    </div>
	  </div>
	</div>
</section>

<!-- Four -->
	<section id="four" class="wrapper">
		<div class="inner">
			<div class="header">
				<p>導師陣容</p>
				<h2>比起量，我們更重視質，每一位導師都是娛樂科技與創新創業的佼佼者
				</h2>
			</div>
			<div class="hidden-xs container-fluid">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/劉德成-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/簡志浩-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/羅志達-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/林家齊-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="pic">
								<%= image_tag("mentor/曾煒傑-01.jpg", class: "img-responsive center-block")%>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="pic">
								<a class="img-responsive center-block" href="https://ditlabs.tw/mentor" ><%= image_tag("mentor/more.png", class: "img-responsive center-block")%></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- xs -->
			<div class="container-fluid hidden-sm hidden-md hidden-lg">
				<div class="row">
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/劉德成-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/簡志浩-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/羅志達-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/林家齊-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="pic">
							<%= image_tag("mentor/曾煒傑-01.jpg", class: "img-responsive center-block")%>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="pic">
							<a class="img-responsive center-block" href="https://ditlabs.tw/mentor" ><%= image_tag("mentor/more.png", class: "img-responsive center-block")%></a>
						</div>
					</div>
				</div>
		  </div>
		</div>
	</section>

	<!-- Five -->
		<section id="five" class="wrapper">
			<div class="inner containter-fluid">
				<div class="row">
					<div class="title col-xs-12">
						<p>我們正在找尋以下投資標的</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="hidden-xs col-sm-4">
						<div class="thumbnail">
							<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
								<h2>全新娛樂體驗</h2>
							</div>
							<div class="description col-sm-10 col-sm-offset-1">
								<h4>你是否正在打造虛擬或實體的全新互動娛樂內容或體驗？</h4>
							</div>
						</div>
					</div>
					<div class="hidden-xs col-sm-4">
						<div class="thumbnail">
							<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
								<h2>內容產製技術</h2>
							</div>
							<div class="description col-sm-10 col-sm-offset-1">
								<h4>你是否正在研發改進娛樂產業製程的先進技術？</h4>
							</div>
						</div>
					</div>
					<div class="hidden-xs col-sm-4">
						<div class="thumbnail">
							<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
								<h2>娛樂 X 教育</h2>
							</div>
							<div class="description col-sm-10 col-sm-offset-1">
								<h4>你是否正在開發橫跨教育與娛樂的創新商品或服務？</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="hidden-xs col-sm-4">
						<div class="thumbnail">
							<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
								<h2>娛樂創新服務</h2>
							</div>
							<div class="description col-sm-10 col-sm-offset-1">
								<h4>你是否正在創造新型態的娛樂服務，替用戶帶來更多價值？</h4>
							</div>
						</div>
					</div>
					<div class="hidden-xs col-sm-4">
						<div class="thumbnail">
							<div class="header col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
								<h2>資料科學應用</h2>
							</div>
							<div class="description col-sm-10 col-sm-offset-1">
								<h4>你是否具備掌握、分析與自動化學習用戶行為的創新技術？</h4>
							</div>
						</div>
					</div>
					<div class="hidden-xs col-sm-4">
						<div class="thumbnail">
							<div class="convince col-sm-8 col-sm-offset-2">
								<h2 style="border-bottom: none;">以上皆非？</h2>
								<h2 style="border-bottom: none;">歡迎報名並說服我們</h2>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- xs -->
			<div class="container-fluid">
				<div class="row">
					<div class="hidden-sm hidden-md hidden-lg col-xs-6">
						<div class="header col-xs-12">
							<h2>全新娛樂體驗</h2>
						</div>
						<div class="description col-xs-12">
							<h4>你是否正在打造虛擬或實體的全新互動娛樂內容或體驗？</h4>
						</div>
					</div>
					<div class="hidden-sm hidden-md hidden-lg col-xs-6">
						<div class="header col-xs-12">
							<h2>內容產製技術</h2>
						</div>
						<div class="description col-xs-12">
							<h4>你是否正在研發改進娛樂產業製程的先進技術？</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="hidden-sm hidden-md hidden-lg col-xs-6">
						<div class="header col-xs-12">
							<h2>娛樂 X 教育</h2>
						</div>
						<div class="description col-xs-12">
							<h4>你是否正在開發橫跨教育與娛樂的創新商品或服務？</h4>
						</div>
					</div>
					<div class="hidden-sm hidden-md hidden-lg col-xs-6">
						<div class="header col-xs-12">
							<h2>娛樂創新服務</h2>
						</div>
						<div class="description col-xs-12">
							<h4>你是否正在創造新型態的娛樂服務，替用戶帶來更多價值？</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="hidden-sm hidden-md hidden-lg col-xs-6">
						<div class="header col-xs-12">
							<h2>資料科學應用</h2>
						</div>
						<div class="description col-xs-12">
							<h4>你是否具備掌握、分析與自動化學習用戶行為的創新技術？</h4>
						</div>
					</div>
					<div class="hidden-sm hidden-md hidden-lg col-xs-6">
						<div class="convince">
							<h2 style="border-bottom: none;">以上皆非？</h2>
  						<h2 style="border-bottom: none;">歡迎前來挑戰</h2>
						</div>
					</div>
				</div>
			</div>
		</section>



