<section id="four" class="wrapper">
  <div class="inner">
    <div class="hidden-xs container-fluid">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/蘇書平-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/羅志達-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/簡志浩-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/謝瑞珊-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/謝琬婷-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/謝添敏-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/賴荃賢-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/潘奕彰-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden-xs container-fluid">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/劉德成-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/劉哲瑜-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/葉忠岳-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/曾煒傑-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/陸元平-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/陳意文-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/陳冠豪-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden-xs container-fluid">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/王思穎-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/馬梓菲-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/姜漢儀-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/林靜怡-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/林家齊-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/周樹林-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/周玄昆-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/李方碩-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/巫秀陽-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/呂俊賢-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/吳灝-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/吳菊-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/王銓彰-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- xs mode-->
    <div class="container-fluid hidden-sm hidden-md hidden-lg">
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/蘇書平-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/羅志達-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/簡志浩-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/謝瑞珊-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/謝琬婷-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/謝添敏-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/賴荃賢-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/潘奕彰-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/劉德成-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/劉哲瑜-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/葉忠岳-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/曾煒傑-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/陸元平-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/陳意文-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/陳冠豪-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/王思穎-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/馬梓菲-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/姜漢儀-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/林靜怡-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/林家齊-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/周樹林-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/周玄昆-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/李方碩-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/巫秀陽-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/呂俊賢-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/吳灝-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/吳菊-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/王銓彰-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>