<section id="four" class="wrapper">
  <div class="inner">
    <div class="hidden-xs container-fluid">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/吳菊-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/巫秀陽-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/姜漢儀-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/馬梓菲-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/張鳳珠-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <a class="img-responsive center-block" href="index.html" ><%= image_tag("mentor/陳意文-01", class: "img-responsive center-block")%></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden-xs container-fluid">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/吳菊-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/巫秀陽-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/姜漢儀-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/馬梓菲-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/張鳳珠-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <a class="img-responsive center-block" href="index.html" ><%= image_tag("mentor/陳意文-01", class: "img-responsive center-block")%></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden-xs container-fluid">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/吳菊-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/巫秀陽-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/姜漢儀-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/馬梓菲-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <%= image_tag("mentor/張鳳珠-01.jpg", class: "img-responsive center-block")%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pic">
              <a class="img-responsive center-block" href="index.html" ><%= image_tag("mentor/陳意文-01", class: "img-responsive center-block")%></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- xs -->
    <div class="container-fluid hidden-sm hidden-md hidden-lg">
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/吳菊-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/巫秀陽-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/姜漢儀-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/馬梓菲-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/張鳳珠-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <a class="img-responsive center-block" href="index.html" ><%= image_tag("mentor/陳意文-01", class: "img-responsive center-block")%></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/吳菊-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/巫秀陽-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/姜漢儀-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/馬梓菲-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/張鳳珠-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <a class="img-responsive center-block" href="index.html" ><%= image_tag("mentor/陳意文-01", class: "img-responsive center-block")%></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/陳威光-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/吳菊-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/巫秀陽-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/邱永龍-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/姜漢儀-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/馬梓菲-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="pic">
            <%= image_tag("mentor/張鳳珠-01.jpg", class: "img-responsive center-block")%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pic">
            <a class="img-responsive center-block" href="index.html" ><%= image_tag("mentor/陳意文-01", class: "img-responsive center-block")%></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>