<style type="text/css">
  //md
  @media screen and (min-width:992px){
    .img-responsive {
      width: 200px;
      padding-top: 25px;
    }
  }

  //sm
 @media screen and (min-width:768px){
  .img-responsive {
      width: 150px;
      padding: 0 10px;
      padding-top: 25px;
    }
 }

  //xs
  @media screen and (max-width:767px){
    .img-responsive {
      width: 200px;
      padding-top: 25px;
    }
  }
</style>

<div class="container" style="padding-top: 40px;">
  <div class="row">
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("index/sick.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p style="font-size: 20px; text-align: justify; padding: 0 12px; ">「有病制作」從遊戲出發，以點出有病議題為核心，深耕台灣國高中客群。近年連續創造破百萬的群募紀錄，並已獲利，未來將往泛娛樂品牌的目標邁進。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("index/sick.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p style="font-size: 20px; text-align: justify; padding: 0 12px; ">「有病制作」從遊戲出發，以點出有病議題為核心，深耕台灣國高中客群。近年連續創造破百萬的群募紀錄，並已獲利，未來將往泛娛樂品牌的目標邁進。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("index/sick.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p style="font-size: 20px; text-align: justify; padding: 0 12px; ">「有病制作」從遊戲出發，以點出有病議題為核心，深耕台灣國高中客群。近年連續創造破百萬的群募紀錄，並已獲利，未來將往泛娛樂品牌的目標邁進。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("index/sick.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p style="font-size: 20px; text-align: justify; padding: 0 12px; ">「有病制作」從遊戲出發，以點出有病議題為核心，深耕台灣國高中客群。近年連續創造破百萬的群募紀錄，並已獲利，未來將往泛娛樂品牌的目標邁進。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("index/sick.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p style="font-size: 20px; text-align: justify; padding: 0 12px; ">「有病制作」從遊戲出發，以點出有病議題為核心，深耕台灣國高中客群。近年連續創造破百萬的群募紀錄，並已獲利，未來將往泛娛樂品牌的目標邁進。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("index/sick.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p style="font-size: 20px; text-align: justify; padding: 0 12px; ">「有病制作」從遊戲出發，以點出有病議題為核心，深耕台灣國高中客群。近年連續創造破百萬的群募紀錄，並已獲利，未來將往泛娛樂品牌的目標邁進。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("index/sick.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p style="font-size: 20px; text-align: justify; padding: 0 12px; ">「有病制作」從遊戲出發，以點出有病議題為核心，深耕台灣國高中客群。近年連續創造破百萬的群募紀錄，並已獲利，未來將往泛娛樂品牌的目標邁進。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("index/sick.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p style="font-size: 20px; text-align: justify; padding: 0 12px; ">「有病制作」從遊戲出發，以點出有病議題為核心，深耕台灣國高中客群。近年連續創造破百萬的群募紀錄，並已獲利，未來將往泛娛樂品牌的目標邁進。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("index/sick.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p style="font-size: 20px; text-align: justify; padding: 0 12px; ">「有病制作」從遊戲出發，以點出有病議題為核心，深耕台灣國高中客群。近年連續創造破百萬的群募紀錄，並已獲利，未來將往泛娛樂品牌的目標邁進。得</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-bottom: 25px;">
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("index/sick.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p style="font-size: 20px; text-align: justify; padding: 0 12px; ">「有病制作」從遊戲出發，以點出有病議題為核心，深耕台灣國高中客群。近年連續創造破百萬的群募紀錄，並已獲利，未來將往泛娛樂品牌的目標邁進。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("index/sick.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p style="font-size: 20px; text-align: justify; padding: 0 12px; ">「有病制作」從遊戲出發，以點出有病議題為核心，深耕台灣國高中客群。近年連續創造破百萬的群募紀錄，並已獲利，未來將往泛娛樂品牌的目標邁進。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>