<style type="text/css">
  .container {
    font-family: "sourcehansans-tc", Helvetica, Arial, helvetica, 'cwTeXHei', "sourcehansans-tc", "微軟正黑體", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", /*serif, */"LiHei Pro", "Microsoft JhengHei";
    font-weight: "400";
  }
  .thumbnail {
    color: black;
  }

  p {
    padding: 0 12px;
    text-align: justify;
  }


  //md
  @media screen and (min-width:992px){
    .img-responsive {
      width: 200px;
      padding-top: 25px;
    }
  }

  //sm
 @media screen and (min-width:768px){
  .img-responsive {
      width: 150px;
      padding: 0 10px;
      padding-top: 25px;
    }
 }

  //xs
  @media screen and (max-width:767px){
    .img-responsive {
      width: 200px;
      padding-top: 25px;
    }
  }
</style>

<div class="container" style="padding-top: 40px;">
  <div class="row">
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <a class="thumbnail" href="http://www.sick-game.com/" target="_blank">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("team/sick.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p>「有病制作」從遊戲出發，以點出有病議題為核心，深耕台灣國高中客群。近年連續創造破百萬的群募紀錄，並已獲利，未來將往泛娛樂品牌的目標邁進。</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <a class="thumbnail" href="https://www.facebook.com/nsfwstudio/" target="_blank">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("team/work.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p>「陸伍伍參伍」的目標是成為新一代的專業娛樂內容製作公司。2016 年創建「上班不要看」品牌以來，至今已累積超過 30 萬名以年輕男性為主體的粉絲。</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <a class="thumbnail" href="https://www.facebook.com/musSoap.tw/" target="_blank">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("team/island.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p>「小島動畫」的特色在於利用在地元素為場景，結合角色表演創作出有趣的動畫作品。目前旗下最知名 IP「肉皂」的臉書粉專人數超過 14 萬，且粉絲遍及全球。</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <a class="thumbnail" href="http://www.ohmyfood.com.tw/" target="_blank">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("team/tosee.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p>「拓熙」自行開發的「圖靈系統」為目前市場上語意分析正判率最高，該系統能分析所有網路公開資料，透過人工智慧演算，提供企業用戶可被量化且可信度高的數據，提高決策效率。</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <a class="thumbnail" href="https://www.crespirit.com/" target="_blank">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("team/crespirit.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p>「酷思特」是一間位於新竹的獨立遊戲開發商，以具強烈辨識度的美術風格，以及高規格的獨家製程著稱，並具有橫跨各大平台的開發經驗。核心成員來自全球各地，其中超過六成為專業動畫師。</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <a class="thumbnail" href="https://www.tidyman.tw/" target="_blank">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("team/home.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p>「居家整聊室」提供一站式居家收納管理服務。從聊天、諮詢出發，團隊協助消費者建立日常可執行的收納策略，從源頭根除問題。團隊亦發展回收廠及二手賣家的媒合業務，擴大服務效益。</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <a class="thumbnail" href="http://froogvr.com/en/" target="_blank">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("team/froogvr.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p>「炬火數位」是由專業編劇、導演、攝影等人員組成，能自行產製豐富的 VR 內容。旗下品牌「FroogVR」自媒體平台曾創下百萬人觀看紀錄，未來將發展以虛擬戀愛為題的沉浸式交往體驗。</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <a class="thumbnail" href="https://www.rooit.me/" target="_blank">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("team/rooit.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p style="padding-bottom: 29px;">「路星」的核心產品為聊天社群應用 Rooit，以結合具學習能力的聊天機器人提供「聊遊」模式，突破現有交友平台容易沒話聊、以貌取人的缺點。</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <a class="thumbnail" href="https://www.mysterycityadventure.com/" target="_blank">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("team/monkey.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p>「山中猴子」目標是翻轉台灣文化旅遊觀光模式，旗下第一款產品《玩轉城市—波克熊的不思議冒險》結合實體遊戲包與行動 App，讓玩家自行在城市中的真實景點展開深度的探索解謎行動。</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row" style="padding-bottom: 25px;">
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <a class="thumbnail" href="http://www.ehooray.net/" target="_blank">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("team/ehooray.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p>「奕虎科技」由一群擁有 10 年以上遊戲製作經驗的專業人員組成，目前致力於開發行動遊戲。研發實力獲得日本大廠 Bandai Namco 的肯定，為其開發知名 IP「大蜜蜂」的行動遊戲版。</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4" style="padding-top: 10px;">
      <a class="thumbnail" href="http://www.tutorbot.com.tw/" target="_blank">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag("team/tutorbot.png", class: "img-responsive center-block", style: "width: 200px; padding-top: 25px;") %>
          </div>
          <div class="col-xs-12" style="padding:25px;">
            <p>「突破科技」專注於打造智慧機器人英語學習平台 Tutor Bot，提供即時互動與真人語音，對於提升用戶英語口說能力極有幫助。Tutor Bot 的創新性也於 2016 年 12 月獲得中華民國發明專利。</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>