<!DOCTYPE html>
<html ng-app="創夢實驗室 DIT Labs" prefix='og: http://ogp.me/ns#' lang="zh">

  <head>

    <%= favicon_link_tag 'ditlabs_favicon.png', type: 'image/png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>創夢實驗室 DIT Labs</title>
    <link rel="stylesheet" href="assets/css/invest.css" />
    <link rel="stylesheet" href="assets/css/footer.css" />
    <link rel="stylesheet" href="assets/css/carousel.css" >
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/offcanvas.css">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= yield :head %>

  </head>
  <body>
    <% if controller.action_name == "index"%>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/side_header' %>
    <% end %>
    <%= yield %>
    <% if controller.action_name == "index"%>
      <%= render 'shared/footer' %>
    <% else %>
      <%= render 'shared/side_footer' %>
    <% end %>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js/offcanvas.js"></script>
  </body>
</html>
